body {
    margin: 0;
    padding: 0;  
}

.container { /* Define the screnn's application */
    display: flex;
    justify-content: row;
    width: 100%;
}

.esquerda { /* Define the left side of the screen */
    background-color: #EEE;
    width: 60%;
}

.esq {
    display: flex;
    justify-content: center;
    align-items: center;
}

.semaforo { /* Define the body structure of the traffic light. */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #232323;
    width: 260px;
    height: 600px;
    margin-top: 30px;
    border-radius: 80px;

}

.luz { /* Define the light of traffic light with gray color as default. */
    background-color: #888;
    width: 170px;
    height: 170px;  
    border-radius: 85px;
    margin-bottom: 12px;
}

.vermelha { /* Used by JS to change gray to red color. */
    background-color: #F00;
}

.amarela { /* Used by JS to change gray to yellow color. */
    background-color: #FF0;;
}

.verde { /* Used by JS to change gray to green color. */
    background-color: #0F0;
}

.direita { /* Define the right side of the screen. */
    display: flex;
    flex-direction: column;
    width: 40%;
}

.avisos{ /* Define the warnings section of the screen. */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
 }

 .pare { /* Warns to Stop. */
    display: inline-block;
    background-color: #F00;
    border-radius: 25px;
    padding: 10px 150px;
    margin-top: 100px;
    margin-bottom: 35px;
    font-family: Arial;
    font-size: 50px;
    font-weight: bold;
    color: #FFF;
 }

 .atencao { /* Warns to Attention. */
    display: inline-block;
    background-color: #FF0;
    border-radius: 25px;
    padding: 10px 110px;
    margin-top: 30px;
    margin-bottom: 35px;
    font-family: Arial;
    font-size: 50px;
    font-weight: bold;
    color: #000;
 }

 .siga { /* Warns to Go ahead. */
    display: inline-block;
    background-color: #0F0;
    border-radius: 25px;
    padding: 10px 150px;
    margin-top: 30px;
    margin-bottom: 100px;
    font-family: Arial;
    font-size: 50px;
    font-weight: bold;
    color: #000;
 }

.controles { /* That define de controls section where the start(início) button is. */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AAA;
    height: 50%;
}

.iniciar { /* That define the start button */
    font-size: 65px;
    font-family: Arial;
    font-weight: bold;
    padding: 1px 160px; 
    border-radius: 30px;
}